<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5(ajaxTargetId)"
  th:with="rid=${(T(java.lang.Math).random() * 2147483647).intValue()}">
  <div class="input-group mb-3">
    <input th:id="${'actionCodeInput' + rid}" type="text" class="form-control" th:value="${code}"
      readonly="true">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      <span class="fas fa-code"></span>
      [[${actionDisplay != null ? actionDisplay : #messages.msgOrNull('sbu.actioncode.action') ?:
      'Action'}]]</button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li th:unless="${#strings.isEmpty(code)}">
        <a class="dropdown-item" href="#"
          th:onclick="copyActionCodeUrl([[${'actionCodeInput' + rid}]], [[@{${singular ? route.joinPath('action-codes', action) : item.joinPath('action-codes', action)}}]])">
          <span class="fas fa-fw fa-copy"></span>
          [[${#messages.msgOrNull('sbu.actioncode.copy') ?:
          'Copy'}]]</a>
      </li>
      <li>
        <a hx:post="@{${singular ? route.joinPath('action-codes', action) : item.joinPath('action-codes', action)}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${ajaxTargetId})}"
          hx:target="${'#' + ajaxTargetId}" hx-ext="json-enc" class="dropdown-item">
          <span class="fas fa-fw fa-link"></span>
          [[${#messages.msgOrNull('sbu.actioncode.generate') ?:
          'Generate'}]]</a>
      </li>
      <li th:unless="${#strings.isEmpty(code)}">
        <a hx:delete="@{${singular ? route.joinPath('action-codes', action, code) : item.joinPath('action-codes', action, code)}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${ajaxTargetId})}"
          hx:target="${'#' + ajaxTargetId}" hx-ext="json-enc" class="dropdown-item">
          <span class="fas fa-fw fa-trash"></span>
          [[${#messages.msgOrNull('sbu.actioncode.clear') ?:
          'Clear'}]]</a>
      </li>
    </ul>
  </div>

  <script th:inline="javascript">
    function copyActionCodeUrl(actionCodeInputId, actionPath) {
      const unsecuredCopyToClipboard = (text) => { const textArea = document.createElement("textarea"); textArea.value = text; document.body.appendChild(textArea); textArea.focus(); textArea.select(); try { document.execCommand('copy') } catch (err) { console.error('Unable to copy to clipboard', err) } document.body.removeChild(textArea) };

      var pageOrigin = document.location.origin;
      var actionFullPath = pageOrigin + actionPath;

      var copyText = document.getElementById(actionCodeInputId);
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices

      if (!copyText.value) {
        alert(/*[[${#messages.msgOrNull('sbu.actioncode.no_code') ?: 'No action code !'}]]*/ null);
      } else {
        if (window.isSecureContext && navigator.clipboard) {
          navigator.clipboard.writeText(actionFullPath + '/' + copyText.value);
        } else {
          unsecuredCopyToClipboard(actionFullPath + '/' + copyText.value);
        }
      }
    }
  </script>
</div>

</html>