<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5">
  <th:block th:with="item=${__${@webModelAttributes.ITEM_NAME}__}">
    <th:block th:each="tag,iter : ${item.tagTemplates}">
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-outline-dark"
          th:classappend="${tag.labelColor}">[[${tag.labelName}]]</button>
        <button type="button" class="btn btn-outline-dark">[[${tag.groupTitle}]]</button>
      </div>
    </th:block>
  </th:block>
</div>

</html>