<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5" class="card mb-2" th:id="${'fsmActionBar' + item.id}">
  <div
    th:with="showPermittedMessage=${showPermittedMessage != null ? showPermittedMessage : true}, showProhibitedMessage=${showProhibitedMessage != null ? showProhibitedMessage : true}, showProhibited=${showProhibited}, item=${__${@webModelAttributes.ITEM_NAME}__}, ajaxTargetId=${__${@webModelAttributes.AJAX_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__ ?: @webModelAttributes.AJAX_TARGET_ID_VALUE}"
    class="card-body">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start pb-2">
      <button type="button" class="btn btn-outline-primary">
        <i class="fas fa-route fa-fw"></i>
        [[${item.phase.stateMachine.state.displayName}]]
      </button>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-success">
          <i class="fas fa-location-arrow fa-fw"></i>
        </button>
        <th:block th:each="activeTrigger : ${item.phase.activeTriggers}">
          <button th:unless="${activeTrigger.disable}" type="button" class="btn btn-outline-success"
            hx:get="@{${item.joinPath('triggers', activeTrigger.trigger.name)}}"
            hx:target="${'#' + ajaxTargetId}" hx-ext="json-enc">
            [[${activeTrigger.trigger.displayName}]]
            <span th:if="${showPermittedMessage} and ${activeTrigger.message}">
              [[${': ' + activeTrigger.message}]]
            </span>
          </button>
          <button
            th:if="${activeTrigger.disable} and (${showProhibited} or (${showProhibitedMessage} and ${activeTrigger.message}))"
            type="button" class="btn btn-outline-success" disabled>
            [[${activeTrigger.trigger.displayName}]]
            <span th:if="${showProhibitedMessage} and ${activeTrigger.message}">
              [[${': ' + activeTrigger.message}]]
            </span>
          </button>
        </th:block>
        <button
          hx:get="@{${item.joinPath('triggers')}(__${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__=${ajaxTargetId})}"
          hx:target="${'#' + 'fsmActionBar' + item.id}" hx-ext="json-enc"
          hx-trigger="click, refresh-fsm-action-bar from:body" type="button"
          class="btn btn-outline-danger hint--right" aria-label="Refresh">
          <i class="fas fa-arrows-rotate fa-fw"></i>
        </button>
      </div>
    </div>
  </div>
</div>


</html>