<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5"
  th:with="fid=${(T(java.lang.Math).random() * 2147483647).intValue()}, saveonly=${saveonly}, saveonlybtntxt=${saveonlybtntxt}, item=${__${@webModelAttributes.ITEM_NAME}__}, ajaxTargetId=${__${@webModelAttributes.AJAX_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__ ?: @webModelAttributes.AJAX_TARGET_ID_VALUE}, backTargetId=${__${@webModelAttributes.BACK_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__ ?: ajaxTargetId}, backPath=${__${@webModelAttributes.BACK_PATH_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__}">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="tab"
        th:attr="data-bs-target=${'#mainForm' + fid}" type="button" role="tab">
        [[${#messages.msgOrNull(item.phase.stateRecord.state.class.simpleName + '.' +
        item.phase.stateRecord.state.name + '.tabs.main') ?:
        #messages.msgOrNull('sbu.fsm.content-editor.tabs.main') ?: 'Main'}]]
      </button>
    </li>
    <li th:if="${item.phase.stateRecord.hasViewableForm(item.phase.stateMachine)}" class="nav-item"
      role="presentation">
      <button class="nav-link" data-bs-toggle="tab" th:attr="data-bs-target=${'#stateForm' + fid}"
        type="button" role="tab">
        [[${#messages.msgOrNull(item.phase.stateRecord.state.class.simpleName + '.' +
        item.phase.stateRecord.state.name + '.tabs.stateForms') ?:
        #messages.msgOrNull('sbu.fsm.content-editor.tabs.stateForms') ?: 'State Form(s)'}]]
      </button>
    </li>
    <li th:if="${item.phase.stateRecord.hasEntireViewableForms(item.phase.stateMachine)}"
      class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab"
        th:attr="data-bs-target=${'#entireStateForms' + fid}" type="button" role="tab">
        [[${#messages.msgOrNull(item.phase.stateRecord.state.class.simpleName + '.' +
        item.phase.stateRecord.state.name + '.tabs.entireStateForms') ?:
        #messages.msgOrNull('sbu.fsm.content-editor.tabs.entireStateForms') ?: 'Entire State
        Form(s)'}]]
      </button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" th:id="${'mainForm' + fid}" role="tabpanel">
      <div
        th:replace="~{sbu/jsf/show-edit :: bs5(saveonly=${saveonly}, saveonlybtntxt=${saveonlybtntxt}, __${@webModelAttributes.ITEM_NAME}__=${item}, __${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${ajaxTargetId}, __${@webModelAttributes.BACK_TARGET_ID_NAME}__=${backTargetId}, __${@webModelAttributes.BACK_PATH_NAME}__=${backPath})}">
      </div>
    </div>

    <div th:if="${item.phase.stateRecord.hasViewableForm(item.phase.stateMachine)}"
      class="tab-pane fade" th:id="${'stateForm' + fid}" role="tabpanel">
      <th:block th:if="${item.phase.stateRecord.hasForm}">
        <th:block th:each="stateForm :${item.phase.stateRecord.state.forms}"
          th:with="rid=${(T(java.lang.Math).random() * 2147483647).intValue()}">
          <div th:if="${item.phase.stateMachine.canFire(stateForm.viewableTriggerStock.get)}"
            th:id="${'embedded' + rid}" class="pt-2">
            <a hx:target="${'#embedded' + rid}"
              hx:get="@{${item.joinPath('forms', stateForm.formTypeStock.get)}(_ajaxTargetId=${'embedded' + rid}, _backTargetId=${ajaxTargetId})}"
              hx-ext="json-enc" hx-trigger="load"></a>
          </div>
        </th:block>
      </th:block>
    </div>

    <div th:if="${item.phase.stateRecord.hasEntireViewableForms(item.phase.stateMachine)}"
      class="tab-pane fade" th:id="${'entireStateForms' + fid}" role="tabpanel">
      <ul class="list-group pt-2"
        th:with="formDataTable=${item.phase.stateRecord.getEntireViewableForms(item.phase.stateMachine)}">
        <th:block th:each="formTypeData : ${formDataTable}">
          <th:block th:each="formBranchData : ${formTypeData.value}">
            <a class="list-group-item" data-bs-toggle="modal" data-bs-target="#exampleModal"
              hx-target="#modelForm"
              hx:get="@{${item.joinPath('forms', formTypeData.key, 'formId', formBranchData.value)}(__${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__=${'embedded' + rid}, __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__=${ajaxTargetId})}"
              hx-ext="json-enc">
              [[${formTypeData.key}]] [[${formBranchData.key}]]
            </a>
          </th:block>
        </th:block>
      </ul>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">State Form</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="modelForm"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>