<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5"
  th:with="item=${__${@webModelAttributes.ITEM_NAME}__}, ajaxTargetId=${ajaxTargetId ?: @webModelAttributes.AJAX_TARGET_ID_VALUE}, fid=${(T(java.lang.Math).random() * 10000).intValue()}">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="tab"
        th:attr="data-bs-target=${'#mainForm' + fid}" type="button" role="tab">Main</button>
    </li>
    <li th:if="${item.phase.stateRecord.hasViewableForm(item.phase.stateMachine)}" class="nav-item"
      role="presentation">
      <button class="nav-link" data-bs-toggle="tab" th:attr="data-bs-target=${'#stateForm' + fid}"
        type="button" role="tab">State Forms</button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" th:id="${'mainForm' + fid}" role="tabpanel">
      <div
        th:replace="~{sbu/jsf/show-edit-alt :: bs5(editable=${item.phase.updatable.accessControlRuleStock.getAsBoolean}, item=${__${@webModelAttributes.ITEM_NAME}__}, ajaxTargetId=${ajaxTargetId ?: @webModelAttributes.AJAX_TARGET_ID_VALUE})}">
      </div>
    </div>
    <div th:if="${item.phase.stateRecord.hasViewableForm(item.phase.stateMachine)}"
      class="tab-pane fade" th:id="${'stateForm' + fid}" role="tabpanel">
      <th:block th:if="${item.phase.stateRecord.hasForm}">
        <th:block th:each="stateForm :${item.phase.stateRecord.state.forms}"
          th:with="rid=${(T(java.lang.Math).random() * 10000).intValue()}">
          <div th:if="${item.phase.stateMachine.canFire(stateForm.viewableTriggerStock.get)}"
            th:id="${'embedded' + rid}" class="pt-2">
            <a hx:target="${'#embedded' + rid}"
              hx:get="@{${item.joinPath('forms', stateForm.formTypeStock.get)}(ajaxTargetId=${'embedded' + rid}, backTargetId=${ajaxTargetId})}"
              hx-ext="json-enc" hx-trigger="load"></a>
          </div>
        </th:block>
      </th:block>
    </div>
  </div>
</div>

</html>