<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5"
  th:with="_historyBack=${_historyBack} ?: false, user=${__${'@' + @webModelAttributes.USER_NAME}__}, fid=${(T(java.lang.Math).random() * 2147483647).intValue()}, saveonly=${saveonly}, saveonlybtntxt=${saveonlybtntxt}, item=${__${@webModelAttributes.ITEM_NAME}__}, ajaxTargetId=${__${@webModelAttributes.AJAX_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__ ?: @webModelAttributes.AJAX_TARGET_ID_VALUE}, backTargetId=${__${@webModelAttributes.BACK_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__ ?: ajaxTargetId}, backPath=${__${@webModelAttributes.BACK_PATH_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__}">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="tab"
        th:attr="data-bs-target=${'#mainForm' + fid}" type="button" role="tab">
        [[${#messages.msgOrNull(@sbuHtml.getSimpleName(item.phase.stateRecord.state.class) + '.' +
        item.phase.stateRecord.state.name + '.tabs.main') ?:
        #messages.msgOrNull(@sbuHtml.getSimpleName(item.phase.stateRecord.state.class) +
        '.stateForms.main') ?:
        #messages.msgOrNull('sbu.fsm.content-editor.tabs.main') ?: 'Main'}]]
      </button>
    </li>

    <li
      th:each="formType,iter : ${item.phase.stateRecord.getViewableForms(item.phase.stateMachine)}"
      class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab"
        th:attr="data-bs-target=${'#viewableForm' + fid + '_' + iter.index}" type="button"
        role="tab">
        [[${#messages.msgOrNull(@sbuHtml.getSimpleName(item.phase.stateRecord.state.class) + '.' +
        item.phase.stateRecord.state.name + '.tabs.' + formType) ?:
        #messages.msgOrNull(@sbuHtml.getSimpleName(item.phase.stateRecord.state.class) +
        '.stateForms.' +
        formType) ?: formType}]]
      </button>
    </li>

    <li
      th:each="formType,iter : ${item.phase.stateRecord.getEntireViewableForms(item.phase.stateMachine)}"
      class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="tab"
        th:attr="data-bs-target=${'#entireStateForms' + fid + '_' + iter.index}" type="button"
        role="tab">
        [[${#messages.msgOrNull(@sbuHtml.getSimpleName(item.phase.stateRecord.state.class) + '.' +
        item.phase.stateRecord.state.name + '.tabs.entire.' + formType.key) ?:
        #messages.msgOrNull(@sbuHtml.getSimpleName(item.phase.stateRecord.state.class) +
        '.stateForms.entire.' +
        formType.key) ?: 'Entire ' + formType.key}]]
      </button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" th:id="${'mainForm' + fid}" role="tabpanel">
      <div th:if="user == null || user.canRead(item)"
        th:replace="~{sbu/jsf/show-edit :: bs5(attachmentDialog=true, _historyBack=${_historyBack}, saveonly=${saveonly}, saveonlybtntxt=${saveonlybtntxt}, __${@webModelAttributes.ITEM_NAME}__=${item}, __${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${ajaxTargetId}, __${@webModelAttributes.BACK_TARGET_ID_NAME}__=${backTargetId}, __${@webModelAttributes.BACK_PATH_NAME}__=${backPath})}">
      </div>
    </div>

    <div
      th:each="formType,iter : ${item.phase.stateRecord.getViewableForms(item.phase.stateMachine)}"
      class="tab-pane fade" th:id="${'viewableForm' + fid + '_' + iter.index}" role="tabpanel">
      <th:block th:with="rid=${(T(java.lang.Math).random() * 2147483647).intValue()}">
        <div th:id="${'embedded' + rid}" class="pt-2">
          <a hx:target="${'#embedded' + rid}"
            hx:get="@{${item.joinPath('forms', formType)}(_historyBack=${_historyBack}, _ajaxTargetId=${'embedded' + rid}, _backTargetId=${ajaxTargetId})}"
            hx-ext="json-enc" hx-trigger="load"></a>
        </div>
      </th:block>
    </div>

    <div
      th:each="formTypeData,iter : ${item.phase.stateRecord.getEntireViewableForms(item.phase.stateMachine)}"
      class="tab-pane fade" th:id="${'entireStateForms' + fid + '_' + iter.index}" role="tabpanel">
      <ul class="list-group pt-2"
        th:with="formDataTable=${item.phase.stateRecord.getEntireViewableForms(item.phase.stateMachine)}">
        <th:block th:each="formBranchData : ${formTypeData.value}">
          <a class="list-group-item" data-bs-toggle="modal" data-bs-target="#stateFormModal"
            hx-target="#modelForm"
            hx:get="@{${item.joinPath('forms', formTypeData.key, 'formId', formBranchData.value)}(_historyBack=${_historyBack}, __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__=${'embedded' + rid}, __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__=${ajaxTargetId})}"
            hx-ext="json-enc">
            [[${formBranchData.key}]]
          </a>
        </th:block>
      </ul>

      <div class="modal fade" id="stateFormModal" tabindex="-1"
        aria-labelledby="stateFormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="stateFormModalLabel">State Form</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="modelForm"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>