<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5(contentNodes)">

  <nav>
    <ol class="breadcrumb">
      <th:block th:each="contentNode,idx : ${contentNodes}">
        <li th:unless="${idx.last}" class="breadcrumb-item">
          <a th:href="@{${contentNode.path}}">[[${contentNode.name}]]</a>
        </li>
        <li th:if="${idx.last}" class="breadcrumb-item active">
          <a>[[${contentNode.name}]]</a>
          <a th:href="@{${contentNode.path}}" target="_blank" class="ps-1 hint--right"
            th:attr="data-hint=${#strings.defaultString(#messages.msgOrNull('ui.open-in-new-tab'), 'Open in New Tab')}">
            <i class="fas fa-arrow-up-right-from-square"></i>
          </a>
        </li>
      </th:block>
    </ol>
  </nav>
</div>

</html>