<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5"
  th:with="item=${__${@webModelAttributes.ITEM_NAME}__}, queryConfig=${__${@webModelAttributes.QUERY_CONFIG_NAME}__}, ajaxTargetId=${ajaxTargetId ?: _ajaxTargetId?: @webModelAttributes.AJAX_TARGET_ID_VALUE}, backTargetId=${backTargetId ?: _backTargetId?: ajaxTargetId}, backPath=${backPath ?: _backPath}"
  class="card">
  <div class="card-body" th:with="rid=${(T(java.lang.Math).random() * 2147483647).intValue()}">
    <react-form th:id="${'editForm' + rid}"
      th:action="@{${item.updatePath}(_ajaxTargetId=${ajaxTargetId}, _backTargetId=${backTargetId}, _backPath=${backPath})}"
      method="PUT" ajax:target="${ajaxTargetId}">
      <button class="btn btn-primary" type="submit">[[${#messages.msgOrNull('sbu.ui.submit') ?:
        'Submit'}]]</button>
    </react-form>

    <script th:inline="javascript">
      var editFormDataset = /*[[${item.toDataset()}]]*/ null;
      var editFormId = /*[[${'editForm' + rid}]]*/ null;
      var editForm = document.getElementById(editFormId);
      editForm.setAttribute('props-var', 'editFormDataset');
    </script>
  </div>
  <script th:inline="javascript" defer>
    htmx.process(document.getElementById(/*[[${ajaxTargetId}]]*/ null));
  </script>
</div>

</html>