<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5" class="card" th:insert="~{sbu/jsf/block :: scope(~{:: th:block})}">
  <th:block>

    <div class="card-header">
      <button th:if="${historyBack}" onclick="history.back()" type="button"
        class="me-auto btn-close" aria-label="Close"></button>
      <button th:unless="${historyBack}"
        hx:get="@{${!#strings.isEmpty(backPath) ? backPath : item.getBackPath(queryConfig)}(_)} + ${fowardingParam}"
        hx:target="${'#' + backTargetId}" hx-ext="json-enc" type="button" class="me-auto btn-close"
        aria-label="Close"></button>
    </div>
    <div class="card-body">
      <react-form th:id="${'editForm' + rid}"
        th:action="@{${item.updatePath}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${ajaxTargetId})} + ${fowardingParam}"
        method="PUT" ajax:target="${ajaxTargetId}"
        th:attr="theme=${jsfTheme}, saveonly=${saveonly}, saveonlybtntxt=${saveonlybtntxt}">
        <button class="btn btn-primary" type="submit">[[${#messages.msgOrNull('sbu.ui.submit') ?:
          'Submit'}]]</button>
      </react-form>

      <script th:inline="javascript">
        window['editFormDataset' + /*[[${rid}]]*/ 0] = /*[[${item.toDataset()}]]*/ null;
        var editFormId = /*[[${'editForm' + rid}]]*/ null;
        var editForm = document.getElementById(editFormId);
        editForm.setAttribute('props-var', 'editFormDataset' + /*[[${rid}]]*/ 0);
      </script>
    </div>
    <script th:inline="javascript" defer>
      htmx.process(document.getElementById(/*[[${ajaxTargetId}]]*/ null));
    </script>

  </th:block>
</div>

</html>