<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5" class="card" th:insert="~{sbu/jsf/block :: scope(~{:: th:block})}">
  <th:block>

    <div class="card-body">
      <react-form th:id="${'newForm' + rid}"
        th:action="@{${item.createPath}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${ajaxTargetId}, __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__=${ajaxTargetId}, __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__=${backTargetId}, __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__=${backPath})}"
        method="POST" ajax:target="${ajaxTargetId}" theme="bs3">
        <button class="btn btn-primary" type="submit">[[${#messages.msgOrNull('sbu.ui.submit') ?:
          'Submit'}]]</button>
      </react-form>

      <script th:inline="javascript">
        window['newFormDataset' + /*[[${rid}]]*/ 0] = /*[[${item.toDataset()}]]*/ null;
        var newFormId = /*[[${'newForm' + rid}]]*/ null;
        var newForm = document.getElementById(newFormId);
        newForm.setAttribute('props-var', 'newFormDataset' + /*[[${rid}]]*/ 0);
      </script>
    </div>
    <script th:inline="javascript" defer>
      document.getElementsByTagName('body')[0].removeAttribute('style');
      htmx.process(document.getElementById(/*[[${ajaxTargetId}]]*/ null));
    </script>

  </th:block>
</div>


</html>