<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5"
  th:with="item=${__${@webModelAttributes.ITEM_NAME}__}, queryConfig=${__${@webModelAttributes.QUERY_CONFIG_NAME}__}, ajaxTargetId=${__${@webModelAttributes.AJAX_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__ ?: @webModelAttributes.AJAX_TARGET_ID_VALUE}, backTargetId=${__${@webModelAttributes.BACK_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__ ?: ajaxTargetId}, backPath=${__${@webModelAttributes.BACK_PATH_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__}"
  class="card">
  <div class="card-header">
    <button
      hx:get="@{${backPath != null ? backPath : item.getBackPath(queryConfig)}(__${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__=${ajaxTargetId}, __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__=${backTargetId}, __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__=${backPath})}"
      hx:target="${'#' + backTargetId}" hx-ext="json-enc" type="button" class="me-auto btn-close"
      aria-label="Close"></button>
  </div>
  <div class="card-body" th:with="rid=${(T(java.lang.Math).random() * 2147483647).intValue()}">
    <react-form th:id="${'newForm' + rid}"
      th:action="@{${item.createPath}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${ajaxTargetId}, __${@webModelAttributes.BACK_TARGET_ID_NAME}__=${backTargetId})}"
      method="POST" ajax:target="${ajaxTargetId}">
      <button class="btn btn-primary" type="submit">[[${#messages.msgOrNull('sbu.ui.submit') ?:
        'Submit'}]]</button>
    </react-form>

    <script th:inline="javascript">
      var newFormDataset = /*[[${item.toDataset()}]]*/ null;
      var newFormId = /*[[${'newForm' + rid}]]*/ null;
      var newForm = document.getElementById(newFormId);
      newForm.setAttribute('props-var', 'newFormDataset');
    </script>
  </div>
  <script th:inline="javascript" defer>
    document.getElementsByTagName('body')[0].removeAttribute('style');
    htmx.process(document.getElementById(/*[[${ajaxTargetId}]]*/ null));
  </script>
</div>

</html>