<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5"
  th:with="item=${__${@webModelAttributes.ITEM_NAME}__}, queryConfig=${__${@webModelAttributes.QUERY_CONFIG_NAME}__}, user=${__${'@' + @webModelAttributes.USER_NAME}__}, ajaxTargetId=${__${@webModelAttributes.AJAX_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__ ?: @webModelAttributes.AJAX_TARGET_ID_VALUE}, backTargetId=${__${@webModelAttributes.BACK_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__ ?: ajaxTargetId}, backPath=${__${@webModelAttributes.BACK_PATH_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__}"
  class="card">
  <div class="card-header">
    <div class="d-flex">
      <button
        hx:get="@{${backPath != null ? backPath : item.getBackPath(queryConfig)}(_ajaxTargetId=${ajaxTargetId}, _backTargetId=${backTargetId}, _backPath=${backPath})}"
        hx:target="${'#' + backTargetId}" hx-ext="json-enc" type="button" class="me-auto btn-close"
        aria-label="Close"></button>
      <a th:if="${user == null || user.canUpdate(item)}" class="pe-2 orange"
        hx:get="@{${item.getEditPath(queryConfig)}(__${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__=${ajaxTargetId}, __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__=${backTargetId}, __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__=${backPath})}"
        hx:target="${'#' + ajaxTargetId}" hx-ext="json-enc">
        <i class="fas fa-edit"></i></a>
    </div>
  </div>
  <div class="card-body" th:with="rid=${(T(java.lang.Math).random() * 2147483647).intValue()}">
    <react-form th:id="${'showEditForm' + rid}" th:action="@{${item.getBackPath(queryConfig)}}"
      method="GET" ajax:target="${ajaxTargetId}" disabled="true">
      <div></div>
    </react-form>
    <a class="btn btn-light"
      hx:get="@{${backPath != null ? backPath : item.getBackPath(queryConfig)}}"
      hx:target="${'#' + backTargetId}" hx-ext="json-enc">
      [[${#messages.msgOrNull('sbu.ui.return') ?: 'Return'}]]</a>

    <div
      th:if="${T(com.github.wnameless.spring.boot.up.attachment.AttachmentSnapshotAware).isAssignableFrom(item.class)}"
      th:id="${'attachments' + rid}">
      <a hx:get="@{${item.joinPath('attachments')}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${'attachments' + rid})}"
        hx:target="${'#attachments' + rid}" hx-ext="json-enc" hx-trigger="load" class="d-none"></a>
    </div>

    <script th:inline="javascript">
      var showEditFormDataset = /*[[${item.toDataset()}]]*/ null;
      var showEditFormId = /*[[${'showEditForm' + rid}]]*/ null;
      var showEditForm = document.getElementById(showEditFormId);
      showEditForm.setAttribute('props-var', 'showEditFormDataset');
    </script>
  </div>
  <script th:inline="javascript" defer>
    htmx.process(document.getElementById(/*[[${ajaxTargetId}]]*/ null));
  </script>
</div>

</html>