<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5"
  th:with="jsfTheme=${jsfTheme}, saveonly=${saveonly}, saveonlybtntxt=${saveonlybtntxt}, item=${__${@webModelAttributes.ITEM_NAME}__}, queryConfig=${__${@webModelAttributes.QUERY_CONFIG_NAME}__}, user=${__${'@' + @webModelAttributes.USER_NAME}__}, ajaxTargetId=${__${@webModelAttributes.AJAX_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__ ?: @webModelAttributes.AJAX_TARGET_ID_VALUE}, backTargetId=${__${@webModelAttributes.BACK_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__ ?: ajaxTargetId}, backPath=${__${@webModelAttributes.BACK_PATH_NAME}__ ?: __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__}"
  class="card">

  <th:block th:if="${alert}">

    <th:block th:each="message : ${alert.danger}">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        [[${message}]]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </th:block>

    <th:block th:each="message : ${alert.warning}">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        [[${message}]]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </th:block>

    <th:block th:each="message : ${alert.info}">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        [[${message}]]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </th:block>

    <th:block th:each="message : ${alert.success}">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        [[${message}]]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </th:block>

  </th:block>

  <div class="card-header">
    <div class="d-flex justify-content-end">
      <!-- Keep the header height even if the edit icon is hidden  -->
      <i class="fa fa-fw" style="visibility: hidden;"></i>
      <a th:if="${user == null || user.canUpdate(item)}" class="pe-2 orange"
        hx:get="@{${item.getEditPath(queryConfig)}(jsfTheme=${jsfTheme}, saveonly=${saveonly}, saveonlybtntxt=${saveonlybtntxt}, __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__=${ajaxTargetId}, __${@webModelAttributes.FORWARDING_BACK_TARGET_ID_NAME}__=${backTargetId}, __${@webModelAttributes.FORWARDING_BACK_PATH_NAME}__=${backPath})}"
        hx-push-url="true" hx:target="${'#' + ajaxTargetId}" hx-ext="json-enc">
        <i class="fas fa-edit"></i></a>
    </div>
  </div>
  <div class="card-body" th:with="rid=${(T(java.lang.Math).random() * 2147483647).intValue()}">
    <react-form th:id="${'showEditForm' + rid}" th:action="@{${item.getBackPath(queryConfig)}}"
      method="GET" ajax:target="${ajaxTargetId}" disabled="true" th:attr="theme=${jsfTheme}">
      <div></div>
    </react-form>

    <div th:if="${@sbuHtml.isAttachmentSnapshotProvider(item)}" th:id="${'attachments' + rid}">
      <a hx:get="@{${item.joinPath('attachments')}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${'attachments' + rid})}"
        hx:target="${'#attachments' + rid}" hx-ext="json-enc" hx-trigger="load" class="d-none"></a>
    </div>

    <script th:inline="javascript">
      window['showEditFormDataset' + /*[[${rid}]]*/ 0] = /*[[${item.toDataset()}]]*/ null;
      var showEditFormId = /*[[${'showEditForm' + rid}]]*/ null;
      var showEditForm = document.getElementById(showEditFormId);
      showEditForm.setAttribute('props-var', 'showEditFormDataset' + /*[[${rid}]]*/ 0);
    </script>
  </div>
  <script th:inline="javascript" defer>
    htmx.process(document.getElementById(/*[[${ajaxTargetId}]]*/ null));
  </script>
</div>

</html>