<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5"
  th:with="item=${__${@webModelAttributes.ITEM_NAME}__}, queryConfig=${__${@webModelAttributes.QUERY_CONFIG_NAME}__}, ajaxTargetId=${__${@webModelAttributes.AJAX_TARGET_ID_NAME}__ ?: __${@webModelAttributes.FORWARDING_AJAX_TARGET_ID_NAME}__ ?: @webModelAttributes.AJAX_TARGET_ID_VALUE}"
  class="card">
  <div class="card-body" th:with="rid=${(T(java.lang.Math).random() * 2147483647).intValue()}">
    <react-form th:id="${'showForm' + rid}" disabled="true">
      <div></div>
    </react-form>

    <div
      th:if="${T(com.github.wnameless.spring.boot.up.attachment.AttachmentSnapshotProvider).isAssignableFrom(item.class)}"
      th:id="${'attachments' + rid}">
      <a hx:get="@{${item.joinPath('attachments')}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${'attachments' + rid})}"
        hx:target="${'#attachments' + rid}" hx-ext="json-enc" hx-trigger="load" class="d-none"></a>
    </div>

    <script th:inline="javascript">
      var showFormDataset = /*[[${item.toDataset()}]]*/ null;
      var showFormId = /*[[${'showForm' + rid}]]*/ null;
      var showForm = document.getElementById(showFormId);
      showForm.setAttribute('props-var', 'showFormDataset');
    </script>
  </div>
  <script th:inline="javascript" defer>
    htmx.process(document.getElementById(/*[[${ajaxTargetId}]]*/ null));
  </script>
</div>

</html>