<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5" class="card" th:insert="~{sbu/jsf/block :: scope(~{:: th:block})}">
  <th:block>

    <div class="card-header">
      <button th:if="${historyBack}" onclick="history.back()" type="button"
        class="me-auto btn-close" aria-label="Close"></button>
      <button th:unless="${historyBack}"
        hx:get="@{${!#strings.isEmpty(backPath) ? backPath : item.getBackPath(queryConfig)}(_)} + ${fowardingParam}"
        hx:target="${'#' + backTargetId}" hx-ext="json-enc" type="button" class="me-auto btn-close"
        aria-label="Close"></button>

      <a href="#" th:onclick="printShadowDomToPdf([[${'showForm' + rid}]])">
        <i class="fas fa-file-pdf"></i>
      </a>
      <a th:if="${attachmentDialog and @sbuHtml.isAttachmentSnapshotProvider(item)}"
        hx:get="@{${item.joinPath('attachments')}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${@webModelAttributes.MODEL_CONTENT_TARGET_ID_VALUE})} + ${fowardingParam}"
        hx:target="${'#' + @webModelAttributes.MODEL_CONTENT_TARGET_ID_VALUE}" hx-ext="json-enc"
        data-bs-toggle="modal"
        th:attr="data-bs-target=${'#' + @webModelAttributes.MODEL_TARGET_ID_VALUE}, aria-label=${#messages.msgOrNull('sbu.attachment.title') ?: 'Attachments'}"
        class="pe-2 text-success hint--left">
        <i class="fas fa-paperclip"></i>
      </a>
    </div>
    <div class="card-body">
      <react-form th:id="${'showForm' + rid}" th:action="@{${item.backPath}}" method="GET"
        ajax:target="${ajaxTargetId}" disabled="true" th:attr="theme=${jsfTheme}">
        <div></div>
      </react-form>
      <a class="btn btn-light"
        hx:get="@{${!#strings.isEmpty(backPath) ? backPath : item.getBackPath(queryConfig)}(_)} + ${fowardingParam}"
        hx:target="${'#' + backTargetId}" hx-ext="json-enc">
        [[${#messages.msgOrNull('sbu.ui.return') ?: 'Return'}]]</a>

      <div th:if="${!attachmentDialog and @sbuHtml.isAttachmentSnapshotProvider(item)}"
        th:id="${'attachments' + rid}">
        <a hx:get="@{${item.joinPath('attachments')}(__${@webModelAttributes.AJAX_TARGET_ID_NAME}__=${'attachments' + rid})} + ${fowardingParam}"
          hx:target="${'#attachments' + rid}" hx-ext="json-enc" hx-trigger="load"
          class="d-none"></a>
      </div>

      <script th:inline="javascript">
        window['showFormDataset' + /*[[${rid}]]*/ 0] = /*[[${item.toDataset()}]]*/ null;
        var showFormId = /*[[${'showForm' + rid}]]*/ null;
        var showForm = document.getElementById(showFormId);
        showForm.setAttribute('props-var', 'showFormDataset' + /*[[${rid}]]*/ 0);
      </script>
    </div>
    <script th:inline="javascript" defer>
      htmx.process(document.getElementById(/*[[${ajaxTargetId}]]*/ null));
    </script>

  </th:block>
</div>

</html>