<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5" id="selectionFlowPanel" th:with="selectionFlow=${selectionFlow}">

  <form hx:get="@{${route.joinPath('selection-flow')}}" hx-ext="json-enc" hx-target="#ajaxTarget">
    <th:block th:each="so,iter : ${selectionFlow.getSelectionOptions(param)}">
      <div class="input-group mb-1">
        <span th:if="${iter.first}" class="input-group-text">
          <i class="fas fa-house fa-fw"></i>
        </span>
        <span th:if="${iter.last and !iter.first}" class="input-group-text">
          <i class="fas fa-flag fa-fw"></i>
        </span>
        <span th:if="${iter.last and iter.first}" class="input-group-text">
          <i class="fas fa-house-flag fa-fw"></i>
        </span>
        <span th:if="${!iter.first and !iter.last}" class="input-group-text">
          <i class="fas fa-forward fa-fw"></i>
        </span>

        <select hx:get="@{${route.joinPath('selection-flow')}}" hx-ext="json-enc"
          hx-target="#ajaxTarget" hx-include="closest form" class="form-select" th:name="${so.key}"
          required>
          <option selected value="">
            [[${#messages.msgOrNull('sbu.selectionflow.no_data') ?: 'No Data'}]]
          </option>
          <option th:each="selectOpt : ${so.value}" th:value="${selectOpt.organizationalUnitId}"
            th:selected="${selectOpt.selected}">
            [[${selectOpt.organizationalUnitName}]]
          </option>
        </select>
      </div>
    </th:block>
  </form>

</div>

</html>