<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bs5">

  <!-- Modal -->
  <div class="modal fade" th:id="${@webModelAttributes.MODEL_TARGET_ID_VALUE}"
    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen-lg-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div th:id="${@webModelAttributes.MODEL_CONTENT_TARGET_ID_VALUE}"></div>
        </div>
      </div>
    </div>
  </div>

</div>

</html>